numpy
pillow
opencv-python
torch
torchvision
transformers==4.35.0
ultralytics
pytest
omegaconf
einops
trimesh
scikit-image
cython
matplotlib
tqdm
python-json-logger
yacs
h5py
shapely
seaborn
easydict
kornia
